cache/*
log/*
config/databases.yml
config/propel.ini
data/sql/*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*
plugins/sfGuardPlugin/*
lib/vendor/symfony/*
web/uploads/*
web/uploads/pics/*
web/uploads/pages/*
web/uploads/profiles/*
web/sfPropelPlugin
data/fixtures/fixtures.yml
